.button {
    display: flex;
    align-items: center;
    padding: var(--padding-10-24);
    border: none;
    border-radius: var(--radius-100);
    /* border-radius: var(--radius-8); */
    cursor: pointer;
    font-size: var(--fs-16);
    transition: var(--transition-300);
    font-family: var(--ff-poppins);
    gap: var(--gap-8);
    justify-content: center;
}

.button-icon {
    display: flex;
    align-items: center;
    /* color: var(--primary-100); */
}

.button-text {
    font-weight: var(--fw-500);
}

.btn-link {
    text-decoration: none;
}

/* Colors */
.button.primary {
    background-color: var(--black);
    /* background-color: var(--quaternary-color); */
    color: var(--white);
    /* font-size: var(--fs-15); */
}

.login-form .button.primary {
    padding: var(--padding-10-24);
}

.banner-content-dashboard .button.primary {
    width: fit-content;
}

button.header {
    font-size: var(--fs-14);
    padding: var(--padding-8-24);
}

.button.secondary {
    background-color: var(--primary-color);
    /* background-color: var(--primary-50); */
    /* background-color: var(--quaternary-60); */
    color: white;
    font-size: var(--fs-14);
    /* padding: var(--padding-8-24); */
    padding: 6px 24px;
}

.rental_section .button.secondary, .login-form .button.secondary {
    padding: var(--padding-10-24);
}

.login-form .button.secondary {
    margin-top: 10px;
}

.filter_div .button.secondary {
    margin-top: 16px;
    width: 100%;
}

.button.tertiary {
    /* border: 3px solid var(--white); */
    /* box-shadow: inset 0 0 0 2px var(--white); */
    /* background-color: transparent; */
    /* font-size: var(--fs-15); */
    /* color: white; */
    /* color: var(--primary-color); */
    /* background-color: #ffffffb1; */
    /* background-color: var(--secondary-color);
    color: var(--white); */
    /* background-color: transparent; */
    /* padding: 0; */
    /* border-bottom: 2px solid var(--white); */
    /* border: 2px solid var(--white); */
    /* border-radius: 0; */
    /* color: var(--white); */
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--black);
    color: var(--black);
    font-size: var(--fs-14);
    transition: var(--transition-300);
}

.navbar-colored .button.tertiary, .tour_type .button.tertiary {
    box-shadow: inset 0 0 0 2px var(--primary-color);
    color: var(--primary-color);
} 

.tour_type .button.tertiary {
    width: 100%;
}

.button.quaternary {
    box-shadow: inset 0 0 0 2px var(--quaternary-color);
    color: var(--quaternary-color);
    background-color: transparent;
    font-size: var(--fs-14);
    transition: var(--transition-300);
}

.owner_social_moreinfo .button.quaternary {
    background-color: var(--white);
    margin-left: 12px;
}

.tour_type .button.tertiary-selected {
    box-shadow: inset 0 0 0 2px var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-11);
    font-size: var(--fs-14);
    transition: var(--transition-300);
    width: 100%;
}

.details_header_buttons .button.tertiary, .main_property_add_page .button.tertiary {
    box-shadow: inset 0 0 0 2px var(--primary-color);
    color: var(--primary-color);
}

.main_property_add_page .button.tertiary {
    width: 100%;
}

.button.primary:hover {
    background-color: var(--neutral-1000);
    /* background-color: var(--quaternary-40); */
    transition: var(--transition-300);
}

.button.secondary:hover {
    background-color: var(--white);
    transition: var(--transition-300);
}

.button.tertiary:hover {
    /* background-color: #e8e8e8b1; */
    /* border-bottom: 2px solid var(--tertiary-color); */
    /* border: 2px solid var(--tertiary-color); */
    /* box-shadow: inset 0 0 0 2px var(--tertiary-color);
    color: var(--tertiary-color);
    transition: var(--transition-300); */
    /* background-color: #e8e8e850; */
    background-color: #e8e8e850;
    transition: var(--transition-300);
}

.profile-dropdown .button.tertiary {
    box-shadow: inset 0 0 0 2px var(--error-color);
    color: var(--error-color);
    font-size: var(--fs-12);
    width: 100%;
}