.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.svg-icon {
    position: absolute;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--neutral-500);
}

.search-input {
    font-family: var(--ff-poppins);
    width: 100%;
    padding: 10px 16px 10px 50px;
    border: 1.5px solid var(--neutral-200);
    border-radius: var(--radius-100);
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: var(--black);
}

